* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

/* --------------- HEADER --------------- */

header {
    background-color: #EAC926;
    padding: 20px 0;
}

.header-contenedor {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 50%;
}

.busqueda {
    width: calc(50% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 20px;
}

.busqueda input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.busqueda button {
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right: 0;
}

header p {
    text-align: center;
    margin: 20px 0;
}

.nav-bar {
    display: none;
}

.nav-bar ul {
    list-style-type: none;
    width: 50%;
}

a {
    text-decoration: none;
    color: inherit;
}

.burger-menu {
    display: flex;
    justify-content: center;
}

.burger-menu i {
    padding: 8px;
    background-color: #1259c3;
    border-radius: 3px;
}

.div-banner img {
    width: 100%;
}

/* --------------- MAIN --------------- */

main {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    border-radius: 15px;
}

main h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 1.3rem;
    font-weight: 400;
}

.formulario-registro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

input {
    padding: 12px 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    width: 90%;
}

main div {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div input {
    align-self: center;
}

div p {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 6px;
    align-self: center;
}

.birthdate input {
    width: 100%;
}

.tipo-perfil, .categorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tipo-perfil label {
    width: 50%;
    padding: 10px;
    border-left: 1px solid #eee;
}

.tipo-perfil label:hover {
    border-left-color: #68a3fc;
    transition: 200ms;
}

.tipo-perfil input, .categorias input {
    width: 13px;
    margin-right: 10px;
}

.categorias label {
    width: 50%;
    padding: 10px;
}

.foto-perfil input {
    width: 100%;
}

.contenedor-botones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}

.button-reset, .button-submit {
    margin-top: 20px;
    padding: 8px 0;
    border: none;
    border-radius: 6px;
}

.button-reset {
    width: 30%;
    background-color: #fa3434;
}

.button-submit {
    width: calc(70% - 15px);
    background-color: #3483fa;
    color: #fff;
}

.button-reset:hover {
    background-color: #e33030;
}

.button-submit:hover {
    background-color: #2f75de;
}

/* --------------- FOOTER --------------- */

footer {
    background-color: white;
}

footer section {
    width: 70%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-between;
}

.titulares {
    font-size: 1.5em;
    margin: 10px 0 5px;
    text-align: center;
}

footer i {
    font-size: 2em;
}

.beneficios {
    text-align: center;
    width: 80%
}

.copyright {
    padding: 15px;
}

.descripciones {
    display: none;
}

/* --------------- MEDIA QUERIES --------------- */

@media (min-width: 361px) {
    .descripciones {
        display: block;
    }

    .nav-bar {
        display: flex;
        text-align: center;
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-bar li {
        padding: 3px 0;
    }

    .burger-menu {
        display: none;
    }
}

@media (min-width: 481px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    .header-contenedor {
        width: 70%;
    }

    header p {
        width: calc(30% - 10px);
        margin: 0 10px 0 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-bar {
        width: 100%;
        margin-top: 20px;
    }

    .nav-bar ul {
        flex-direction: row;
        justify-content: center;
        margin: 0 20px 0;
        gap: 15px;
    }
}

@media (min-width: 769px) {

}