* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

img {
    vertical-align: bottom;
}

/* --------------- HEADER --------------- */

header {
    background-color: #EAC926;
    padding: 20px 0;
}

.header-contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.logo {
    width: 50%;
    padding: 0 10px;
}

.busqueda {
    margin: 0 20px;
    width: calc(50% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.busqueda input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: all 200ms;
}

.busqueda input:focus {
    outline: none;
    padding: 12px 10px;
    border-radius: 8px;
}

.busqueda input:focus ~ button {
    padding: 12px 10px;
}

.busqueda button {
    padding: 10px;
    border: none;
    border-left: 1px solid #eee;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
    position: absolute;
    right: 0;
    transition: all 200ms;
}

.busqueda button:hover {
    background-color: #f3f3f3;
}

header p {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    cursor: default;
}

.nav-bar {
    display: none;
}

.nav-bar ul {
    list-style-type: none;
    width: 50%;
}

a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    text-decoration: underline;
}

.burger-menu {
    display: flex;
    justify-content: center;
}

.burger-menu i {
    padding: 8px;
    background-color: #1259c3;
    border-radius: 3px;
}

.div-banner img {
    width: 100%;
}

/* --------------- MAIN --------------- */

main {
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}

main section {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

article {
    background-color: white;
    cursor: default;
}

h3 {
    font-size: 24px;
    align-self: flex-start;
    width: 100%;
}

.img-producto {
    width: 100%;
}

#truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.informacion {
    border-top: 1px solid #ebebeb;
    position: relative;
}

.precio-descuento {
    display: flex;
    padding: 20px 15px;
}

.precios {
    font-size: 18px;
    width: 30%;
    min-width: 85px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    align-self: center;
    text-align: center;
}

.descripciones {
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
    display: none;
    margin: 0 5px;
}

/* --------------- FOOTER --------------- */

footer {
    background-color: white;
    padding-top: 24px;
    cursor: default;
}

footer section {
    width: 70%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-between;
}

.titulares {
    font-size: 1.5em;
    margin: 10px 0 5px;
    text-align: center;
}

footer i {
    font-size: 2em;
    color: #1259c3;
}

.beneficios {
    text-align: center;
    width: 80%
}

.copyright {
    padding: 10px;
}


/* --------------- MEDIA QUERIES --------------- */

@media (min-width: 361px) {
    .descripciones {
        display: block;
    }

    .nav-bar {
        display: flex;
        text-align: center;
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-bar li {
        padding: 3px 0;
    }

    .burger-menu {
        display: none;
    }

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }
}

@media (min-width: 481px) {
    header p {
        font-size: 1.2em;
    }

    .nav-bar {
        width: 100%;
        margin-top: 10px;
    }

    .nav-bar ul {
        flex-direction: row;
        justify-content: center;
        margin: 0 20px 0;
        gap: 15px;
    }
}

@media (min-width: 769px) {
    .logo {
        width: 25%;
    }

    .busqueda {
        margin: 0 0 0 20px;
        width: calc(45% - 40px);
        align-self: center;
    }

    header p {
        font-size: 1.2em;
        padding: 0 15px;
        width: 30%;
        align-self: center;
    }

    .nav-bar {
        font-size: 1.2em;
        margin-top: 30px;
    }

    article {
        width: 22.5%;
        box-shadow: none;
    }

    .precios {
        min-width: 80px;
    }

    .descripciones {
        color: #777;
    }

    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    article:hover .descripciones {
        color: inherit;
    }

    article:hover #truck {
        transform: rotate(-90deg);
    }

    article, #truck {
        transition: all 400ms;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
    }

    footer section {
        width: 33.3%;
    }
    
    footer i:hover {
        color: #EAC926;
    }

    footer i {
        transition: color 400ms;
    }
}